pykrx
pandas<2.2.0
pandas-ta==0.3.14b0
requests
beautifulsoup4
python-dotenv
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
matplotlib
fpdf2
finance-datareader
markdown
schedule


