pykrx
numpy<2.0.0
pandas<2.1.0
git+https://github.com/twopirllc/pandas-ta.git@development
requests
beautifulsoup4
python-dotenv
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
matplotlib
fpdf2
finance-datareader
markdown
schedule

