name: AI Stock Research Scheduler22

on:
  schedule:
    - cron: '0 22 * * *'
    - cron: '0 8 * * *'
  workflow_dispatch:
    inputs:
      mode:
        description: '실행할 모드 선택 (morning/afternoon)'
        required: true
        default: 'morning'
        type: choice
        options:
          - morning
          - afternoon

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install wheel
          pip install -r requirements.txt

      - name: Run Stock Report
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          RECEIVER_EMAIL: ${{ secrets.RECEIVER_EMAIL }}
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            python main.py --mode ${{ github.event.inputs.mode }}
          elif [ "${{ github.event_schedule }}" = "0 22 * * *" ]; then
            python main.py --mode morning
          else
            python main.py --mode afternoon
          fi
